#highScoresList{
    text-align: center;
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
}

.high-score{
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.high-score:hover{
    transform: scale(1.025)
}

.leaderboardBox{
    top:3.8cm;
    width: 300px;
}